{% extends 'layout.html' %}

{% block content %}
<div class="row pt-3">
	<div class="active-cyan-3 active-cyan-4 mb-4" style="width: 100%">
	  <input class="form-control" type="text" placeholder="Search projects and angels ...." aria-label="Search" style="width: 100%">
	</div>
</div>
<div class="row pt-3">
	<div class="col-6 border">
		<h3>What is Code Angels?</h3>
		<p>Code Angels is a platform for connecting software developers with non-profit organisations. Our goal is to help organisations do their work more efficiently without having to pay for the software. As a developer you get the chance to help make the world around you a better place.</p>
	</div>
	<div class="col-6 border">
		<h3>How can I use the platform?</h3>
		<p>
			<strong>Non-profit Organisations: </strong> You can submit requests and we will do our best to match you with one (or more) of our angels who will develop the software you requested.
			<strong>Software Developers: </strong> First you need to create a profile. Next you can browse all active requests and apply for any of them. Alternatively we can send you projects based on your interests every other week and let you choose.<br>
		</p>
	</div>		
</div>

<div class="row pt-3" style="text-align: center">
	<div class="col-6">
		<a href="/requests" style="color:white">
			<h3 class="m-1 card">
				<div style="background: #1982C4cc;height:100%">
						Browse Requests
				</div>
			</h3>
		</a>
		<p>Explore active requests find your next calling!</p>
	</div>
	<div class="col-6">
		<a href="/angels" style="color:white">
			<h3 class="m-1 card">
				<div style="background: #8ac926cc;height:100%">
						Browse Angels 
				</div>
			</h3>
		</a>
		<p>Get to know our Code Angels and find the perfect fit for your project.</p>
	</div>
</div>


<style>
.center {
	margin-left:auto;
	margin-right:auto;
}

.card {
	color:white;
	font-size: 250%;
}

.card:hover {
	opacity: 0.6;
	cursor: pointer;
}
</style>
{% endblock %}
